@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
 
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;
  color: #444;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: #f9f9f9;
}

main,
header,
footer {
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header,
footer {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
  margin: auto;
  padding: 30px 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  color: #333;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #0073e6;
}
