{% extends 'layout.html' %}
{% block content %}
<h2>About US</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quaerat accusantium, harum explicabo adipisci atque ea sed optio, asperiores animi consequuntur ullam corporis. Officia asperiores alias incidunt optio pariatur explicabo.
Expedita possimus quisquam vitae consequatur? Minima voluptates qui nobis veniam ducimus, id aliquam eligendi voluptatem fuga cupiditate impedit, atque earum reprehenderit libero perferendis eos mollitia nemo assumenda totam? Ratione, consequatur.
Fuga distinctio provident porro quo culpa iusto cupiditate temporibus adipisci, veniam corrupti enim aliquam, eum officiis sequi autem tempore qui! Neque velit placeat voluptatem aut consequuntur quo aliquam odio facilis.</p>

{% endblock %}