{% extends 'layout.html' %}
{% block content %}
<h2>Add blog</h2>

<form>
   <div class="form-group">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" placeholder="Title" />
   </div>
   <div class="form-group">
    <label for="subtitle">Subtitle</label>
    <input type="text" id="subtitle" name="subtitle" placeholder="subtitle" />
   </div>
   <div class="form-group">
    <label for="category">Category</label>
    <select name="category" id="category">
        <option value="">Web</option>
        <option value="">Data</option>
        <option value="">Cloud</option>
    </select>
   </div>
   <div class="form-group">
    <label for="content">Content</label>
    <textarea name="category" id="content" rows="10" placeholder="Write content here . . ."></textarea>

   <div class="form-group">
    <button class="add-blog-btn">Add Blog</button>
   </div>
   </div>
    
    
</form>
{% endblock %}