{% extends 'layout.html' %}
{% block content %}

<h2>Introduction</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates tempore natus sunt molestiae quisquam esse exercitationem fugiat quam molestias? Excepturi ratione laboriosam unde accusamus nobis recusandae consequatur nihil itaque praesentium.
At, repellendus accusantium sapiente expedita sint iste reiciendis, explicabo iure provident quisquam autem mollitia error dolor ex nihil quas, quia voluptatum debitis est. Temporibus deserunt nesciunt rerum porro quis quaerat!
Cumque minima pariatur adipisci, eveniet dolorem velit quibusdam ipsum dolorum, nesciunt quisquam ea blanditiis consequatur alias est excepturi vero porro placeat perferendis. Officia, dicta? Explicabo dolor quas ratione odit ut.</p>

{% endblock %}