<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add-blog.css')}}">
</head>
<body>
    <header>
        <nav>
            <ul>
              <li>
                <a href="{{url_for('home')}}">Home</a>
              </li>
              <li>
                <a href="{{url_for('about')}}">About</a>
              </li>
              <li>
                <a href="{{url_for('contact')}}">Contacts</a>
              </li>
              <li>
                <a href="{{url_for('blogs')}}">Blogs</a>
              </li>
              
            </ul>
          </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer></footer>
</body>
</html>