{% extends "layout.html" %} {% block content %}

<div>
  <h1>Cats Paradise({{number}})</h1>
  <p>The number of cat breeds are {{number}}</p>
  <small>Cats public API end point: <a href="{{url_for('cats_api')}}">Cats API</a></small>
  <div class="cats">
    {% for cat in data %}
    <div class="cat">
      <div>
        <img src="{{cat.url}}" alt="{{cat.name}}" />
      </div>
      <h2>{{cat['name']}}</h2>
      <h3>{{cat.origin}}</h3>
      <p>{{cat.description}}</p>
      <div class="stat">
        <span>Temperament: {{cat.temperament}}</span> <br />
        <span>Weight: {{cat.weight.metric}}</span> <br />
        <span>Life span: {{cat.life_span}}</span>
        <p></p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
