<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <style>
      nav {
        color: purple;
        border: 2px solid blue;
        width: 55%;
        margin: auto;
        padding: 30px;
      }

    </style>
  </head>
  <body>
    <div
    >
    <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/contact">Contacts</a>
          </li>
          <li>
            <a href="/cats">Cats</a>
          </li>
        </ul>
      </nav>
      <div>
        <h1>Contact Us</h1>
        <form>
            <input placeholder="First name " /> <br />
            <input placeholder="Email" /> <br />
            <textarea name="" id=""></textarea>
        </form>
        
      </div>
    </div>
  </body>
</html>
